.links-container{
        width: 100% ;
        height: 100vh;
        background-image: url('image/red.svg'); 
        background-size: auto;
        background-position: 78% 50%; 
        background-repeat: no-repeat;   
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        background-blend-mode: hard-light;
        flex-direction: column;
    }
     .shape {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: start;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
    }
     
    .shape > .atoz-logo {
        border-radius: 50%;
         
        background-image: url('logo/logo.png');
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size:80px ;
        background-position: center center;
        padding: 30px;
        border: 4px solid rgba(255, 255, 255, 0.816);
        transform: translate( 0%,-50%);
        position: absolute;
        bottom: 0;

    }
    .form{
        background: none;
        width: 100%;
        display: flex;
        align-items: center   ;
        justify-content: center;
        flex-direction: column;
        padding:  40px 0px ;
        /* background: linear-gradient(210deg, rgba(255, 0, 25, 0.1), rgba(241, 44, 44, 0.23) ); */
        background: linear-gradient(210deg, rgb(255 0 25 / 10%), rgb(191 164 164 / 22%));
        border-radius: 20px;
    }
    /* .form > h3  {
        font-family:shasenem-kurd ;
        font-size: 24px;

    }
     .form > p  {
         font-family:shasenem-kurd ;
        font-size: 18px;
     }

    .form > .social-media{
        display: flex;
        align-items: center ;
        width: 50%;
        justify-content: space-around;
        padding: 15px;
    }
    .social-media > a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        border-radius: 50%;
        background-color: #9a1320;
    }
    .social-media > a > i {
        color:white;
        font-size: 16px;
    }
    .map {
        width: 80%;
        height:35%;
        background: #838181;
        position: relative; 
        left: 10%;
        top: 2%;
    } */
    .tile-link{
        width:90%;
        text-decoration: none;
        height: 50px;
        padding: 10px;
         /* background:linear-gradient(45deg, #9a1320, rgb(205, 49, 49), #9a1320); */
        display: flex;
        align-items: center;
        justify-content: space-between  ;
        padding: 30px 10px;
        color: rgba(255, 255, 255,  0.8);
        font-family: shasenem-kurd ;
     }
     .tile-link > div {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row-reverse;
     }
      .tile-link > div > i { 
        margin: 0px 15px ;
      }
    .tile-link >  i  , .tile-link > div  > i {
        color: rgba(255, 255, 255, 0.808);
        font-size: 18px;
    }
.custom-shape-divider-bottom-1760100742 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1760100742 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 252px;
}
.custom-shape-divider-bottom-1760100742 .shape-fill {
    fill: #9a1320;
}
